.idea/
.docker-sync

wordpress/*
!wordpress/web

wordpress/web/*
!wordpress/web/wp-config.php
!wordpress/web/wp-content

wordpress/web/wp-content/*
!wordpress/web/wp-content/plugins

wordpress/web/wp-content/plugins/*
!wordpress/web/wp-content/plugins/cutv-api

wordpress/web/wp-content/plugins/cutv-api/node_modules
wordpress/web/wp-content/plugins/cutv-api/bower_components

mariadb-init/*

.DS_Store
.vscode
tests