
<ul>
    {{#each this}}

    <li data-channel-id="{{this.pid}}" class="{{this.enabled}}">
        <a href="/?page_id=764&playid={{this.pid}}">
            {{#if this.cutv_channel_img }}<img src="/wp-content/uploads/channels/{{this.cutv_channel_img}}">
            {{/if}}
        </a>
    </li>
    {{/each}}
</ul>
